/*
!.gitignore
!composer.json
!composer.lock

!local/
local/*
!local/modules
local/modules/*
# version custom modules
!local/modules/WareHouse

!templates/
templates/*
!templates/frontOffice/
templates/frontOffice/*
!templates/frontOffice/dotto/
!templates/backOffice/dotto/
!templates/email/dotto/
!templates/pdf/dotto/
